body{
    background-color: #0a0a4d;
    color: white;
}

header{
    text-align: center;
}
h2{
    color:darkgreen
}
a{
    color: brown;
    margin-right: 15px;
}
footer{
    text-align: center;
    background-color: black;
    padding: 12px;
}